/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Utility Styles */
.text-gray {
  color: gray;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.mb-30 {
  margin-bottom: 30px;
}

/* Specific Component Styles */
.file-date {
  font-size: 0.8em;
}

.container {
    display: flex;
    height: 100vh;
    transition: margin-left 0.5s;
}

.container.sidebar-collapsed {
    justify-content: center;
}

/* Main content style */
.main {
    transition: width 0.5s ease, margin-left 0.5s ease;
    padding: 30px;
    overflow: auto;
    margin-left: 400px;
    width: calc(100% - 400px);
}

.container.sidebar-collapsed .main {
    margin-left: 5px;
    width: calc(100% - 5px);
}

.metadata {
  font-weight: bold;
  color: #555;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.meta-author, .meta-title, .meta-date {
  flex: 1;
  text-align: left;
}

.meta-title {
  text-align: center;
}

.meta-date {
  text-align: right;
}

/* Dark Mode Toggle Styles */
.theme-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#darkModeToggle {
  display: none;
}

#darkModeToggle + label {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #1F1F1F;
  border-radius: 50%;
  position: relative;
}

.dark-theme #darkModeToggle + label {
  background: #F7F7F7;
}

