/* Markdown Body Base Styles */
.markdown-body {
    max-width: 900px;
    min-width: 400px; /*  TODO: calculate this */
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.download-icon {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: #007bff; /* Adjust color as needed */
    text-decoration: none;
}

.download-icon:hover {
    color: #0056b3; /* Darker shade for hover effect, adjust as needed */
}

/* Anchor Styles */
.header-anchor {
    position: relative;
    display: inline-block;
    margin-left: 8px;
}
.header-anchor::after {
    content: '\f0c1';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 10;
    background-color: transparent;
    color: #444;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 16px;
}
.header-anchor:hover::after {
    opacity: 1;
}

/* Header Styles */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: #444;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a,
.markdown-body h4 a,
.markdown-body h5 a,
.markdown-body h6 a {
    color: inherit;
    text-decoration: none;
}

/* Link Styles */
.markdown-body a {
    color: #007bff;
    text-decoration: none;
}

/* Blockquote Styles */
.markdown-body blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

/* Code Styling */
.markdown-body code {
    font-family: monospace;
    background-color: #f7f7f7;
    padding: 2px 5px;
    border-radius: 5px;
}

.markdown-body pre {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.markdown-body pre code {
    background-color: transparent;
    font-size: 14px;
    padding: 0;
}

/* Table Styles */
.markdown-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.markdown-body th,
.markdown-body td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

.markdown-body th {
    background-color: #f9f9f9;
    color: #333;
}

.markdown-body tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Metadata Styles */
.metadata {
    font-weight: bold;
    color: #555;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.meta-title {
    text-align: left;
    flex: 1;
}

.meta-author {
    text-align: center;
    flex: 1;
}

.meta-date {
    text-align: right;
    flex: 1;
}

/* Code Wrapper and Copy Button Styles */
.code-wrapper {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    color: #444;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.code-wrapper:hover .copy-button {
    opacity: 1;
}

