/* Sidebar Base Styles */
.sidebar {
    background-color: #fff;
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    border-right: 1px solid #e1e1e1;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.no-transition * {
  transition: none !important;
}

.sidebar .navigation-buttons a {
    display: inline-block;
}

/* Scrollable Content Container */
.sidebar-content {
    padding: 20px;
    padding-top: 75px;
    overflow-y: scroll;
    flex-grow: 1;
    height: calc(100vh - 75px);
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Sidebar Image Container */
.sidebar .image-container {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .image-container img {
    width: 50%;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
}

/* Sidebar Header Styles */
.sidebar h1 {
    color: #444;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

/* Sidebar List Styles */
.sidebar ul {
    list-style: none;
    padding-left: 50px;
    padding-right: 10px;
    margin: 0;
    font-size: 15px;
    padding-bottom: 5px;
}

.sidebar li {
    margin: 5px 0;
    position: relative;
}

/* Sidebar Icons and Links */
.sidebar i {
    margin-right: 5px;
}

.sidebar li > a {
    list-style-type: disc;
    display: list-item;
}

.sidebar li > ul {
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 1.5em;
    /* max-height: 500px; */
    max-height: 0;
}

.sidebar li.open > ul {
    display: block;
}

.fas.fa-folder {
    cursor: pointer;
    padding-right: 1px;
}

.fas.fa-folder-open {
    cursor: pointer;
}

.show {
    display: block !important;
}

.sidebar ul ul {
    padding-left: 20px;
}

.sidebar a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.file-date {
    display: block;
    color: #666;
    font-size: 0.8em;
    margin-top: 2px;
    padding-left: 5px;
}

/* Sidebar Collapsed State */
.sidebar.collapsed {
    transform: translateX(-355px);
}

.sidebar.collapsed .image-container,
.sidebar.collapsed h1,
.sidebar.collapsed ul {
    opacity: 100;
}

/* Arrow Button Styles */
.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 150px;
    right: 10px;
    color: #1f1f1f;
    z-index: 3;
    transition: transform 0.5s ease;
}
.arrow-btn.rotate {
    transform: rotate(180deg);
}
